<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/layout}">

<div layout:fragment="content">
    <div class="container-fluid p-0">
        
        <section class="resume-section p-3 p-lg-5 d-flex flex-column">
            <div class="my-auto">
				 <h2 class="mb-5">경력 </h2>
					<div>
						<form th:action="@{/experience/update}" method="post">
				
							<div class="form-group">
								<label>Rno</label>
								<input readonly="readonly" class="form-control" name="rno" th:value="${vo.rno}" placeholder="Rno text here." />
							</div>
				
							<div class="form-group">
								<label>ExperienceText</label>
								<input class="form-control" name="ExperienceText" th:value="${vo.ExperienceText}" placeholder="ExperienceText text here." />
							</div>
				
							<div class="form-group">
								<label>Experiencer</label>
								<textarea class="form-control" rows="3" name="Experiencer" th:text="${vo.Experiencer}" placeholder="Experiencer text here."></textarea>
							</div>
				
							<button type="submit" class="btn btn-primary">Submit Button</button>
							<button type="reset" class="btn btn-warning">Reset Button</button>
						</form>
				
					</div>
				</div>
			</section>
		</div>
</div>