<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<div layout:fragment="content">
    <!-- 네비게이션 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <!-- 이력서 이미지 -->
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Start Bootstrap</span>
            <span class="d-none d-lg-block">
              <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/suun.jpg" alt="">
            </span>
        </a>
        <!-- 왼쪽 본문 -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" th:href="@{/}">소개</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" th:href="@{/experience/}">경력</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid p-0">
        <!-- 소개 -->
        <section class="resume-section p-3 p-lg-5 d-flex d-column">
            <div class="my-auto">
                <h1 class="mb-0"> "2014858075"
                    <span class="text-primary">[[${resume.name}]]</span>
                </h1>
                <div class="subheading mb-5"> "경성대 소프트웨어학과"
                    <a href="mailto:name@email.com"> "dbstndns12@naver.com" </a>
                    <style>
                    	a{
                    		text-transform: lowercase;
                    	}
                    </style>
                </div>
                <p class="mb-5"> 지금이라도 늦지않았다 </p>
                <hr/>
                <div>
                    Q&A
                    
		                <div class="text-md-right">
		                    <button class="btn-primary" onclick="location.href='QnA/QnAregister'">등록하기</button>
		                </div>
		                    
                </div>
            </div>
        </section>

    </div>
</div>

</html>